<template>
  <div class="module-wrap">
    <h3 class="title is-4">Torrents</h3>
    <div class="split-view">
      <div class="torrents">
        <div class="torrent" :class="{selected: (torrent.id == selectedId)}" v-for="torrent in torrents" :key="torrent.id" @contextmenu.prevent="(event) => torrentContext(torrent.id, event)" @click.prevent="() => select(torrent.id)">
          <div class="columns is-vcentered">
            <div class="column">
              <div class="subtitle is-6">{{torrent.name}}</div>
              <progress :value="torrent.percentDone" min="0" max="1" class="progress" :class="{ 'is-success': (torrent.status == TorrentStatus.Downloading)}">
                {{`${(torrent.percentDone * 100).toFixed(2)}%`}}
              </progress>
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                  <div class="tags has-addons is-condensed">
                    <span class="tag is-rounded is-primary"><ReadableBytes :value="(torrent.sizeWhenDone - torrent.leftUntilDone)"/></span>
                    <span class="tag is-primary">of</span>
                    <span class="tag is-rounded is-primary"><ReadableBytes :value="(torrent.sizeWhenDone)"/></span>
                  </div>
                </div>
                <div v-if="(true)" class="field is-grouped is-grouped-multiline">
                  <div class="control">
                    <div class="tags has-addons is-condensed">
                      <span class="tag is-rounded is-success"><ReadableBytes :value="torrent.rateDownload"/></span>
                      <span class="tag is-rounded is-success"><i class="mdl2 chevron-down-med"/></span>
                      <span class="tag is-rounded is-success"><ReadableBytes :value="torrent.rateUpload"/></span>
                      <span class="tag is-rounded is-success"><i class="mdl2 chevron-up-med"/></span>
                    </div>
                  </div>
                  <div class="control">
                    <div class="tags has-addons is-condensed">
                      <span class="tag is-rounded is-link">{{torrent.peersConnected}}</span>
                      <span class="tag is-rounded is-link"><i class="mdl2 contact"/></span>
                      <span class="tag is-rounded is-link">{{torrent.peersSendingToUs}}</span>
                      <span class="tag is-rounded is-link"><i class="mdl2 chevron-down-med"/></span>
                      <span class="tag is-rounded is-link">{{torrent.peersGettingFromUs}}</span>
                      <span class="tag is-rounded is-link"><i class="mdl2 chevron-up-med"/></span>
                    </div>
                  </div>
                  <div class="control">
                    <div class="tags has-addons is-condensed">
                      <span class="tag is-rounded is-info"><ReadableEta :value="torrent.eta"/></span>
                      <span class="tag is-rounded is-info"><i class="mdl2 stopwatch"/></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-narrow">
              <div class="button is-round is-small is-hollow" @click="toggleTorrent(torrent.id, torrent.status)">
                <span class="icon is-small">
                  <i class="mdl2" :class="{play: (torrent.status == TorrentStatus.Stopped), stop: (torrent.status != TorrentStatus.Stopped)}"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="resize" v-if="(selectedId > -1)"></div>
      <div class="details" v-if="(selectedId > -1)">
        <div class="field has-addons as-tabs">
          <p class="control" v-for="(navItem, index) in detailTabs" :key="index">
            <router-link :to="`/torrents/${selectedId}${navItem.link}`" tag="button" class="button" active-class="is-link">
              <span class="icon">
                <i class="mdl2" :class="navItem.icon"></i>
              </span>
              <span>{{navItem.label}}</span>
            </router-link>
          </p>
        </div>
        <div class="detail-view">
          <router-view/>
        </div>
      </div>
    </div>
    <vue-context ref="torrentMenu">
      <li>
        <a href="#" @click.prevent="removeTorrent">Remove torrent</a>
      </li>
      <li>
        <a href="#" @click.prevent="deleteTorrent">Remove torrent and delete files</a>
      </li>
    </vue-context>
  </div>
</template>

<script lang="ts">
enum TorrentStatus{
  Stopped = 0, /* Torrent is stopped */
  CheckWait = 1, /* Queued to check files */
  Check = 2, /* Checking files */
  DownloadWait = 3, /* Queued to download */
  Downloading = 4, /* Downloading */
  SeedWait = 5, /* Queued to seed */
  Seeding = 6 /* Seeding */
}

import Vue from 'vue'
import Component from 'vue-class-component'
import { Route } from 'vue-router'

import transmissionService from '../../services/transmissionService'
import ReadableBytes from '@/components/ReadableBytes.vue'
import ReadableEta from '@/components/ReadableEta.vue'
import { VueContext } from 'vue-context'
import { detailTabs } from '.'
import INavItem from '../INavItem'

interface Torrent {
  id: number;
  name: string;
}
@Component({
  components: {
    ReadableBytes,
    ReadableEta,
    VueContext
  }
})
export default class TorrentsView extends Vue{
  private torrents: Array<Torrent> = []
  private timer = 0
  private TorrentStatus = TorrentStatus
  private contextId = -1
  private selectedId = -1
  private detailTabs: INavItem[] = []
  $refs!: {
    torrentMenu: VueContext;
  }
  constructor(){
    super()
    this.getTorrents()
    this.detailTabs = detailTabs.getNavItems()
  }
  private getTorrents() {
    transmissionService.getAllTorrents().then((resp: {torrents: Array<Torrent>}) => {
      // this.torrents.filter(() => false).concat(resp.torrents)
      this.torrents = resp.torrents
      // this.$forceUpdate()
      this.timer = window.setTimeout(this.getTorrents, 1000)
    })
  }
  private toggleTorrent = (id: number, status: TorrentStatus) => {
    if(status == TorrentStatus.Stopped){
      transmissionService.startTorrent(id)
    } else {
      transmissionService.stopTorrent(id)
    }
  }
  public beforeDestroy(){
    window.clearTimeout(this.timer)
  }
  private torrentContext(id: number, originalEvent: Event){
    this.contextId = id
    this.$refs.torrentMenu.open(originalEvent)
  }
  private removeTorrent(){
    //todo
    transmissionService.removeTorrents([this.contextId])
    this.checkSelected()
  }
  private deleteTorrent(){
    //todo
    this.checkSelected()
  }
  private checkSelected(){
    if(this.torrents.length == 1 || this.contextId == this.selectedId){
      this.selectedId = -1
      this.$router.push('/torrents')
    }
  }
  private select(id: number){
    this.selectedId = id
    this.$router.push(`/torrents/${id}`)
  }
  private openTorrent(id: number){
    //
  }
}
</script>

<style lang="scss">
.torrents{
  padding: 15px 0;
  overflow-y: auto;
}
.torrent{
  .subtitle{
    margin-bottom: 5px!important;
  }
  .progress{
    margin-bottom: 5px!important;
  }
  &.selected .columns{
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.progress-wrap{
  .button {
    margin-left: 10px;
  }
}
.split-view{
  margin: 0 -15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  > div{
    padding: 15px;
    flex-grow: 1;
    flex-basis: 2;
  }
  .resize{
    border-top: 1px solid #ccc;
    height: 2px;
    padding: 0;
    flex-grow: 0;
    cursor: n-resize;
  }
}
.details{
  display: flex;
  flex-direction: column;
  .detail-view{
    position: relative;
    flex-grow: 1;
  }
}
</style>