<template>
  <div class="container">
    <div class="title is-1">
      Dashboard
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-3">
        <article class="tile is-child notification is-info">
          <p class="subtitle">Uptime</p>
          <ReadableEta :value="stats['current-stats'].secondsActive" :full="true"/>
        </article>
      </div>
      <div class="tile is-parent is-3">
        <article class="tile is-child notification is-info">
          <p class="subtitle">Transferred</p>
          <ReadableBytes :value="(stats['current-stats'].downloadedBytes + stats['current-stats'].uploadedBytes)" class="title is-2"/>
        </article>
      </div>
      <div class="tile is-parent is-3">
        <article class="tile is-child notification is-info">
          <p class="subtitle">Ratio</p>
          <Ratio :downloaded="stats['current-stats'].downloadedBytes" :uploaded="stats['current-stats'].uploadedBytes"/>
        </article>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import transmissionService from '@/services/transmissionService'
import Uptime from './components/Uptime.vue'
import ReadableEta from '../../components/ReadableEta.vue'
import ReadableBytes from '../../components/ReadableBytes.vue'
import Ratio from './components/Ratio.vue'

interface SessionStats{
  downloadedBytes: number;
  filesAdded: number;
  secondsActive: number;
  sessionCount: number;
  uploadedBytes: number;
}

@Component({
  components: {
    ReadableEta,
    ReadableBytes,
    Ratio
  }
})
export default class DashboardView extends Vue{
  private stats: {
    activeTorrentCount: number;
    'cumulative-stats': SessionStats;
    'current-stats': SessionStats;
    downloadSpeed: number;
    pausedTorrentCount: number;
    torrentCount: number;
    uploadSpeed: number;
  } = {
    activeTorrentCount: 0,
    'cumulative-stats': {
      downloadedBytes: 0,
      filesAdded: 0,
      secondsActive: 0,
      sessionCount: 0,
      uploadedBytes: 0
    },
    'current-stats': {
      downloadedBytes: 0,
      filesAdded: 0,
      secondsActive: 0,
      sessionCount: 0,
      uploadedBytes: 0
    },
    downloadSpeed: 0,
    pausedTorrentCount: 0,
    torrentCount: 0,
    uploadSpeed: 0
  }
  private timer = 0
  constructor(){
    super()
    this.getStats()
  }
  private getStats(){
    transmissionService
    .getSessionStats()
    .then(stats => {
      this.stats = stats
      this.timer = window.setTimeout(this.getStats, 1000)
    })
  }
  public beforeDestroy(){
    window.clearTimeout(this.timer)
  }
}
</script>