.button{
  &.is-round {
    border-radius: 50% !important;
  }
  &.is-hollow {
    background-color: transparent;
  }
  .as-tabs &{
    &:first-child{
      border-bottom-left-radius: 0;
    }
    &:last-child{
      border-bottom-right-radius: 0;
    }
  }
}