@font-face{
  font-family: 'MDL2';
  src: local('Segoe MDL2 Assets'), url('/fonts/SegMDL2.ttf') format('truetype');
}

$icons: (
  'add': '\E710',
  'all-apps': '\E71D',
  'oem': '\E74C',
  'setting': '\E713',
  'play': '\E768',
  'pause': '\E769',
  'stop': '\E71A',
  'contact': '\E77B',
  'open-file': '\E8E5',
  'stopwatch': '\E916',
  'chevron-up-small': '\E96D',
  'chevron-down-small': '\E96E',
  'chevron-left-small': '\E96F',
  'chevron-right-small': '\E970',
  'chevron-up-med': '\E971',
  'chevron-down-med': '\E972',
  'chevron-left-med': '\E973',
  'chevron-right-med': '\E974',
  'speed-high': '\EC4A',
  'tiles': '\ECA5',
);

.mdl2{
  font-family: 'MDL2';
  font-size: 14px;
  font-style: normal;
  &::after{
    display: inline;
    content: '';
  }
  @each $name, $glyph in $icons {
    &.#{$name}:after {
      content: $glyph;
    }
  }
}