.v-context{
  border: 0 none;
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.9);
  font-size: 14px;
  a{
    color: #ccc;
    display: inline-block;
    width: 100%;
    &:hover{
      color: #fff;
    }
  }
  &:focus{
    border: 0 none !important;
    outline: none;
  }
  hr{
    margin: 5px 0;
    height: 1px;
    opacity: 0.5;
  }
}