<template>
  <canvas ref="canvas"></canvas>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import transmissionService from '../../../../services/transmissionService'

@Component
export default class PiecesView extends Vue{
  private ctx: CanvasRenderingContext2D | null = null
  private cw = 0
  private ch = 0
  private area = 0
  private ar = 1
  private timer = 0
  private torrentId = -1
  $refs!: {
    canvas: HTMLCanvasElement;
  }
  constructor(){
    super()
  }
  public mounted(){
    console.log('mounted')
    this.torrentId = parseInt(this.$parent.$route.params['id'])
    this.ctx = this.$refs.canvas.getContext('2d')
    this.updateCanvas()
    window.addEventListener('resize', this.updateCanvas)
    this.getPieces()
  }
  private updateCanvas() {
    const view = this.$refs.canvas.parentElement
    if(view){
      this.$refs.canvas.width = this.cw = view.clientWidth * window.devicePixelRatio
      this.$refs.canvas.height = this.ch = view.clientHeight * window.devicePixelRatio
      this.area = this.cw * this.ch
      this.ar = this.cw / this.ch
      if(this.ctx)
      this.ctx.clearRect(0,0,this.cw, this.ch)
      // performance improvements
      // - only calculate block sizes on update
      // - draw unfinished color for each block on update and then only draw finished blocks on update
      // - use a unified draw function since only drawing colors per pass now
      //   - less color flipping
      //   - possibly only one path per pass?
    }
  }
  private getPieces() {
    transmissionService
    .getTorrents([this.torrentId], ['pieces', 'pieceCount'])
    .then(resp => {
      this.renderPieces(resp.torrents[0])
    })
    .then(() => {
      this.timer = window.setTimeout(() => this.getPieces(), 1000)
    })
  }
  private renderPieces(resp: {pieces: string; pieceCount: number}){
    if(resp && this.ctx){
      const size = Math.max(this.area / resp.pieceCount, 1)
      const w = Math.floor(Math.sqrt(size))
      const h = w
      const bw = Math.floor(this.cw / w)
      const buffer = Uint8Array.from(atob(resp.pieces), c => c.charCodeAt(0))
      let bx = 0
      let by = 0
      buffer.forEach((byte, idx) => {
        idx = idx * 8
        for (let i = 0; i < 8; i++) {
          // guard if more than pieces
          const bit = (byte >> i & 1) == 1
          // console.log(bit)
          if((idx + i) < resp.pieceCount && this.ctx){
            this.ctx.fillStyle = (bit)? "#48c774" : "#3273dc"
            this.ctx.beginPath()
            this.ctx.rect(bx*w, by*h, w, h)
            this.ctx.closePath()
            this.ctx.fill()
            bx++
            if(bx == bw){
              bx = 0
              by++
            }
          }
        }
      })
    }
    return 
  }
  public beforeDestroy(){
    window.removeEventListener('resize', this.updateCanvas)
    window.clearTimeout(this.timer)
  }

}
</script>

<style lang="scss">
  canvas{
    position: absolute;
  }
</style>