<template>
  <div>
    <div class="bar">
      <div class="piece" :style="{width: (ratio*100)+'%' }" title="Downloaded"></div>
      <div class="piece" title="Uploaded"></div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component, Prop} from 'vue-property-decorator'

@Component
export default class Ratio extends Vue{
  @Prop({default: 0})
  downloaded = 0
  @Prop({default: 0})
  uploaded = 0
  get total(){
    return this.downloaded+this.uploaded
  }
  get ratio(){
    if(this.uploaded == 0){
      return 1;
    }
    return this.downloaded/(this.total)
  }
}
</script>

<style lang="scss" scoped>
  .bar{
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    .piece {
      flex-grow: 1;
      background-color: rgba(0,0,0,0.4);
      &:first-child{
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
</style>