<template>
  <span>{{formatted}}</span>
</template>

<script lang="ts">
import Vue from 'vue'
import {Component, Prop} from 'vue-property-decorator'

const DAY_IN_SECONDS = 24*60*60
const HOUR_IN_SECONDS = 60*60
const MINUTE_IN_SECONDS = 60
const increments = [DAY_IN_SECONDS, HOUR_IN_SECONDS, MINUTE_IN_SECONDS, 1]
const labels = ['day', 'hour', 'minute', 'second']
function readableEta(seconds: number, full: boolean): string {
  if(seconds < 0){
    return '∞';
  }
  const time: Array<string> = []
  for (let i = 0; i < increments.length; i++) {
    const increment = increments[i];
    if(seconds > increment){
      const amount = Math.floor(seconds / increment)
      if(!full) {
        return `${amount} ${labels[i]}${(amount>1)?'s':''}`
      }
      else {
        time.push(`${amount} ${labels[i]}${(amount>1)?'s':''}`)
        seconds = seconds - (amount * increment)
      }
    }
  }
  return time.join(' ')
}
@Component
export default class ReadableEta extends Vue{
  @Prop({default: -1})
  public value: number = 0
  @Prop({default: false})
  public full: boolean = false
  get formatted(){
    return readableEta(this.value, this.full == true)
  }
}
</script>