<template>
  <span>{{formatted}}</span>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'

const SIZES = ['B', 'KiB', 'MiB', 'GiB', 'TiB'];

function readableBytes(bytes: number): string {
  if(bytes == 0) {
    return `0 ${SIZES[0]}`;
  }
  const i = Math.floor(Math.log(bytes) / Math.log(1024))
  return `${(bytes / Math.pow(1024, i)).toFixed(2)} ${SIZES[i]}`;
}

@Component
export default class ReadableBytes extends Vue{
  @Prop({default: 0})
  value = 0
  get formatted(){
    return readableBytes(this.value)
  }
}
</script>