<template>
  <div id="app">
    <div id="nav">
      <router-link v-for="(navItem, index) in navItems" :key="index" :to="navItem.link" class="nav-button" ><i :class="'mdl2 ' + navItem.icon"></i></router-link>
      <!-- <router-link to="/dashboard" class="button"><i class="mdl2 oem"></i></router-link>
      <router-link to="/settings"><i class="mdl2 setting"></i></router-link> -->
      <div class="spacer"></div>
      <span href="#" class="button add-torrent is-rounded is-success" @click="addTorrentModal"><i class="mdl2 add"/></span>
    </div>
    <div class="router-view">
      <router-view/>
    </div>
    <modal name="add-torrent" height="auto">
      <div class="subtitle is-5">Add Torrent</div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label for="" class="label">Upload</label>
        </div>
        <div class="field-body">
          <p class="control is-expanded">
            <label class="file-label">
              <input class="file-input" type="file" @change="fileInputChange" ref="modalFile">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="mdl2 open-file"></i>
                </span>
                <span class="file-label">
                  {{(torrentModal.file) ? torrentModal.file.name : 'Choose a file…'}}
                </span>
              </span>
            </label>
          </p>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">URL</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input type="text" v-model="torrentModal.url" class="input">
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label">
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <label class="checkbox">
                <input type="checkbox" v-model="torrentModal.paused">
                Start paused
              </label>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a href="#" class="button is-primary" @click="addTorrent">Add</a>
            </p>
            <p class="control">
              <a href="#" class="button" @click="$modal.hide('add-torrent')">Cancel</a>
            </p>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import moduleProvider from "./providers/modulesProvider"
import INavItem from './Modules/INavItem'
import transmissionService from './services/transmissionService'

interface HTMLInputEvent extends Event {
    target: HTMLInputElement & EventTarget;
}

@Component
export default class App extends Vue {
  $refs!: {
    modalFile: HTMLInputElement;
  }
  private navItems: Array<INavItem> = []
  private torrentModal: {
    url: string;
    paused: boolean;
    file: null | File;
  } = {
    url: '',
    paused: false,
    file: null
  }
  constructor(){
    super()
    this.navItems = moduleProvider.getNavItems()
  }
  private fileInputChange(event: HTMLInputEvent){
    const el: HTMLInputElement | null = event.target
    if(el && el.files && el.files.length > 0){
      this.torrentModal.file = el.files[0]
    }
  }
  private addTorrentModal(){
    this.$modal.show('add-torrent')
  }
  private emptyForm(){
    this.torrentModal.url = ''
    this.torrentModal.paused = false
    this.torrentModal.file = null
    this.$refs.modalFile.value = ''
  }
  private addTorrent(){
    if(this.torrentModal.file){
      const reader = new FileReader()
      reader.onload = () => {
        transmissionService.addTorrent({
          metainfo: btoa(String.fromCharCode(...new Uint8Array(reader.result as ArrayBuffer))),
          paused: this.torrentModal.paused
        })
      }
      reader.readAsArrayBuffer(this.torrentModal.file)
    } else {
      // no file, use url instead
      transmissionService.addTorrent({
        filename: this.torrentModal.url,
        paused: this.torrentModal.paused
      })
    }
    this.emptyForm()
    this.$modal.hide('add-torrent')
  }
}

</script>

<style lang="scss">
html {
  overflow: hidden !important;
}
body {
  margin: 0;
  background-color: #000;
  color: #fff;
}
#app {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
a {
  color: #fff;
  text-decoration: none;
}

#nav {
  max-width: 80px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .spacer{
    flex-grow: 1;
  }
  a{
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 2px solid black;
    display: block;
    overflow: hidden;
    text-align: center;
    line-height: 48px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.4s;
    & + a {
      margin-top: 10px;
    }
    &:hover, &.router-link-active{
      opacity: 1;
    }
    i{
      font-size: 24px
    }
  }
}
.router-view{
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
  background-color: rgba(0, 0, 0, 0.05);
}
.module-wrap{
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.field-body{
  max-width: calc((5 / 6) * 100% - 1.5rem);
  .control, .file-cta{
    max-width: 100%;
  }
}
</style>
